body {
    ul {
        align-content: right;
    }

    .masting {
        text-align: center;
        padding-top: 1em;
    }
    #front {
        padding-top: 2em;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 35%;
    }
    main {
        width: 90%;
        margin: auto;
        blockquote {
            font-size: 0.7em;
            font-weight: 500;
            line-height: 1;
        }
        padding: 1em;
    }
}

#thought-wall {
    margin-top: 2em;
    text-align: center;
}
div.thought {
    display: inline;
    color: #636363;
    margin-bottom: 1em;
    padding-left: 0;
    padding-right: 0;

    .content {
        font-size: 20px;
        margin: 0;
        font-weight: 450;
    }
    p.answer {
        color: #5e7fff;
        margin: 0;
    }
    span.tag {
        background-color: rgb(0, 123, 255);
        padding: 3px;
        margin: 4px;
        color: white;
        border-radius: 4px;
    }
    time {
        color: #999999;
    }
}

aside {
    ul {
        li {
            display: block;
            padding: 0.5em;
        }
    }
}

footer {
    h6 {
        margin: 0;
    }
    padding: 0;
    background-color: #d3e4ff;
    text-align: center;
    img {
        width: 20px;
    }
}

/* Media Queries */
@media only screen and (min-width: 1000px) {
    body {
        main {
            margin: auto;
            max-width: 1000px;
        }
    }
}

@media screen and (max-width: 630px) {
    #myname-bg { display: none; }
    #myname-sm:after { content: "💥 Alan Sun"; }
    h1.masting { font-size: 28px; }
    body #front {
        padding-top: 1em;
        width: 50%;
        margin: auto;
    }
    main {
        blockquote {
            font-size: 1em;
        }
    }
}
